@font-face {
  font-weight: normal;
  font-family: "Cuprum";
  font-style: normal;

  src: local("Cuprum"),
  url("../fonts/cuprum.woff") format("woff"),
  url("../fonts/cuprum.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "Cuprum";
  font-style: normal;

  src: local("Cuprum Bold"),
  url("../fonts/cuprumbold.woff") format("woff"),
  url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "Cuprum";
  font-style: italic;

  src: local("Cuprum Bold Italic"),
  url("../fonts/cuprumbolditalic.woff") format("woff"),
  url("../fonts/cuprumbolditalic.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Cuprum";
  font-style: italic;

  src: local("Cuprum Italic"),
  url("../fonts/cuprumitalic.woff") format("woff"),
  url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;

  src: local("PT Sans"),
  url("../fonts/ptsans.woff") format("woff"),
  url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;

  src: local("PT Sans Bold"),
  url("../fonts/ptsansbold.woff") format("woff"),
  url("../fonts/ptsansbold.woff2") format("woff2");
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.link {
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;

  outline: inherit;
}

.headers {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 11px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1em;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;

  background-color: #ee3643;
  border-width: 0;
  border-radius: 3px;
  outline: inherit;
  cursor: pointer;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.body {
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
}

.header {
  padding-bottom: 64px;

  background-color: #f3f7f9;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.header__add-background {
  background-color: #293449;
}

.shopping {
  width: 940px;
  margin: 0 auto;
}

.shopping__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.shopping__item:nth-child(2) {
  position: relative;

  flex-grow: 1;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.shopping__item:nth-child(3) .shopping__link {
  padding-right: 14px;
  padding-left: 40px;
}

.shopping__item:nth-child(3) .shopping__svg {
  left: 27px;
}

.shopping__item:nth-child(4) .shopping__link {
  width: 150px;
  padding-left: 25px;
}

.shopping__item:nth-child(4) .shopping__svg {
  left: 18px;
}

.shopping__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 49px;

  font-size: 17px;
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: inherit;
  border-width: 0;
  outline: inherit;
}

.shopping__input::-webkit-input-placeholder {
  color: #ffffff;
}
.shopping__input::-moz-placeholder {
  color: #ffffff;
}
.shopping__input:-moz-placeholder {
  color: #ffffff;
}
.shopping__input:-ms-input-placeholder {
  color: #ffffff;
}

.shopping__input:hover {
  background-color: #212a3a;
}

.shopping__input:hover + .shopping__svg--search {
  fill: #ffffff;
}

.shopping__input:focus {
  background-color: #ffffff;
}

.shopping__input:focus + .shopping__svg--search {
  fill: #ee3643;
}

.shopping__link {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 160px;
  padding-top: 12px;
  padding-bottom: 13px;

  font-size: 17px;
  line-height: 1em;
  text-align: center;
  color: #ffffff;

  -webkit-transition: background-color 0.2s, color 0.2s;
       -o-transition: background-color 0.2s, color 0.2s;
          transition: background-color 0.2s, color 0.2s;
}

.shopping__link--active {
  background-color: #ee3643;
}

.shopping__link--active .shopping__svg {
  fill: #ffffff;
}

.shopping__link:hover,
.shopping__link:focus {
  background-color: #212a3a;
}

.shopping__link:hover .shopping__svg,
.shopping__link:focus .shopping__svg {
  fill: #ffffff;
}

.shopping__link:active {
  color: #a2a4a6;

  background-color: #161d29;
}

.shopping__link:active .shopping__svg {
  fill: #949aa4;
}

.shopping__link--logo {
  position: relative;

  width: 220px;
  padding-top: 11px;
  padding-bottom: 7px;

  font-size: 24px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.shopping__link--logo::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 5px;

  background-color: #b52933;
}

.shopping__link--logo:hover,
.shopping__link--logo:focus {
  background-color: #ca2c37;
}

.shopping__link--logo:hover::before,
.shopping__link--logo:focus::before {
  background-color: #9a212a;
}

.shopping__link--logo:active {
  background-color: #ba2732;
}

.shopping__link--logo:active::before {
  background-color: #b52933;
}

.shopping__link--order {
  width: 150px;

  background-color: #63a63e;
}

.shopping__link--order:hover,
.shopping__link--order:focus {
  background-color: #5fbb2d;
}

.shopping__link--order:active {
  color: #b7c9af;

  background-color: #518534;
}

.shopping__svg {
  position: absolute;

  -webkit-transition: fill 0.2s;
       -o-transition: fill 0.2s;
          transition: fill 0.2s;

  fill: #6a7180;
}

.shopping__svg--search {
  top: 12px;
  left: 17px;
}

.description-short {
  flex-basis: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 33px;
  padding-right: 42px;
  padding-left: 53px;

  -ms-flex-preferred-size: 320px;
}

.decription-short__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ee3633;
  font-style: italic;
}

.contacts-info {
  flex-basis: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 46px;

  -ms-flex-preferred-size: 310px;
}

.contacts-info__link {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 8px;
  padding-right: 50px;
  padding-bottom: 7px;
  padding-left: 71px;

  font-size: 21px;
  color: #ee3633;

  border: 3px solid #ffffff;

  -webkit-transition: border-color 0.2s,
  color 0.2s;
       -o-transition: border-color 0.2s,
  color 0.2s;
          transition: border-color 0.2s,
  color 0.2s;
}

.contacts-info__link:hover,
.contacts-info__link:focus {
  border-color: #32425c;
}

.contacts-info__link:active {
  color: #b52933;

  border-color: #6a7180;
}

.contacts-info__link::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts-info__text {
  margin: 0;
  padding-top: 9px;
  padding-left: 11px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1em;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
}

.login {
  flex-basis: 310px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 56px;

  text-align: right;

  -ms-flex-preferred-size: 310px;
}

.login__link {
  position: relative;

  padding-top: 10px;
  padding-bottom: 11px;

  font-size: 21px;
  color: #000000;

  background-color: #ffffff;

  -webkit-transition: color 0.2s;
       -o-transition: color 0.2s;
          transition: color 0.2s;
}

.login__list {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-left: 29px;

  list-style: none;
}

.login__list::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 118px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.login__item:last-child {
  margin-left: 32px;
}

.login__list-link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;

  -webkit-transition: color 0.2s;
       -o-transition: color 0.2s;
          transition: color 0.2s;
}

.login__list-link:hover,
.login__list-link:focus {
  color: #ee3643;
}

.login__list-link:active {
  color: #cacaca;
}

.login__link:nth-child(3) {
  margin-left: 10px;
  padding-right: 24px;
  padding-left: 24px;
}

.login__link:nth-child(2) {
  padding-right: 20px;
  padding-left: 47px;
}

.login__link--user:nth-child(2) {
  padding-right: 67px;
  padding-left: 46px;;
}

.login__link:hover,
.login__link:focus {
  color: #ee3643;
}

.login__link--user:hover,
.login__link--user:focus {
  color: #32425c;
}

.login__link:hover .login__svg,
.login__link:focus .login__svg {
  fill: #32425c;
}

.login__link:active {
  color: #cacaca;
}

.login__link:active .login__svg {
  fill: #cacaca;
}

.login__svg {
  position: absolute;
  top: 14px;
  left: 14px;

  -webkit-transition: fill 0.2s;
       -o-transition: fill 0.2s;
          transition: fill 0.2s;

  fill: #c5c5c5;
}

.login__svg--user {
  top: 13px;
  left: 13px;
}

.login__svg--logout {
  left: 268px;
}

.main-nav {
  flex-basis: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 24px;

  -ms-flex-preferred-size: 100%;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 18px;

  font-size: 17px;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
  word-wrap: break-word;

  background-color: #32425c;

  -webkit-transition: color 0.2s,
  background-color 0.2s;
       -o-transition: color 0.2s,
  background-color 0.2s;
          transition: color 0.2s,
  background-color 0.2s;
}

.main-nav__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 5px;

  background-color: #293449;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #293449;
}

.main-nav__link:active {
  color: #a1a4a8;

  background-color: #1d2739;
}

.main-nav__link:active::after {
  background-color: #1d2739;
}

.main-nav__item:first-child .main-nav__link {
  width: 156.6px;
}

.main-nav__item:nth-child(2) .main-nav__link {
  width: 90.48px;
}

.main-nav__item:nth-child(3) .main-nav__link {
  width: 143.7px;
}

.main-nav__item:nth-child(4) .main-nav__link {
  width: 81.13px;
}

.main-nav__item:nth-child(5) .main-nav__link {
  width: 210.67px;
}

.main-nav__item:nth-child(6) .main-nav__link {
  width: 96.11px;
}

.main-nav__item:last-child .main-nav__link {
  width: 161.66px;
  padding-left: 45px;

  text-align: left;
}

.main__wrapper {
  width: 940px;
  margin: 0 auto;
}

.offers {
  padding-top: 60px;
}

.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.offers__list--column {
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.offers__item {
  position: relative;

  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;

  background-color: #c2c2c2;
}

.offers__item--new {
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.offers__item--orange {
  background-color: #ffbf47;
}

.offers__item--purple {
  background-color: #dc91d8;
}

.offers__item--blue {
  background-color: #3bbce3;
}

.offers__item--green {
  background-color: #8ed78f;
}

.offers__header {
  margin-top: 24px;
  margin-bottom: 0;
  margin-left: 23px;

  font-weight: bold;
  font-size: 24px;
  line-height: 1em;
  color: #ffffff;
}

.offers__link {
  display: inline-block;
  width: 135px;
  margin-top: 15px;
  margin-left: 25px;

  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  outline: inherit;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.offers__link:hover,
.offers__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.offers__svg {
  position: absolute;

  fill: #ffffff;
}

.offers__svg--1 {
  top: 31px;
  right: 43px;
}

.offers__svg--2 {
  top: 33px;
  right: 28px;
}

.offers__svg--3 {
  top: 31px;
  right: 31px;
}

.offers__svg--4 {
  top: 26px;
  right: 45px;
}

.offers__svg--5 {
  top: 31px;
  right: 31px;
}

.offers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.main-slider {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 620px;
  height: 266px;
}

.main-slider__page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 23px;
}

.main-slider__page--first {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-slider__page--second {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-slider__header {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1em;
  color: #ffffff;
  text-transform: uppercase;
}

.main-slider__text {
  margin-top: 1px;
  margin-left: 25px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.main-slider__button {
  position: absolute;
  top: 50%;

  width: 22px;
  height: 40px;

  font-size: 0;

  background-color: inherit;
  border-width: 0;
  outline: inherit;
  cursor: pointer;
}

.main-slider__button:hover .offers__svg,
.main-slider__button:focus .offers__svg {
  fill: #ee3643;
}

.main-slider__button:active .offers__svg {
  fill: #ba2732;
}

.main-slider__button--right {
  top: 94px;
  right: 31px;
}

.main-slider__button--left {
  top: 94px;
  left: 14px;
}

.main-slider__link {
  position: absolute;
  bottom: 22px;
  left: 25px;

  display: inline-block;
  width: 195px;
}

.main-slider__container {
  position: absolute;
  bottom: 29px;
  left: 295px;
}

.main-slider__label {
  font-size: 0;

  cursor: pointer;
}

.main-slider__indicator {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;

  vertical-align: middle;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.main-slider__button-page:checked + .main-slider__indicator {
  background-color: #ee3643;
}

.main-slider__button-page:hover + .main-slider__indicator,
.main-slider__button-page:focus + .main-slider__indicator {
  background-color: #ca2c37;
  border-color: #c2c2c2;
}

.main-slider__button-page:active + .main-slider__indicator {
  background-color: #ba2732;
  border-color: #aeaeae;
}

.popular-goods {
  padding-top: 33px;
}

.popular-goods__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;

  background-color: #f9f5f0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.popular-good__header {
  margin-left: 28px;

  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
}

.popular-good__link {
  display: inline-block;
  width: 253px;
  margin-right: 24px;
  margin-bottom: 1px;
}

.popular-goods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.popular-goods__item {
  margin-right: 10px;
}

.popular-goods__item:last-child {
  margin-right: 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  padding-right: 17px;
  padding-left: 17px;

  border: 1px solid #eaeaea;

  -webkit-transition: -webkit-box-shadow 0.2s;
       -o-transition:         box-shadow 0.2s;
          transition: -webkit-box-shadow 0.2s;
          transition:         box-shadow 0.2s;
          transition:         box-shadow 0.2s, -webkit-box-shadow 0.2s;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.product--new {
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
  background-position: 101% 0;
}

.product:hover {
  padding-top: 1px;
  padding-bottom: 1px;

  border-width: 0;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.product:hover .product__image {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.product:hover .product__button {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 24px;

  clip: auto;
}

.product:hover .product__button--buy {
  margin-bottom: 9px;
}

.product__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 170px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.product__button {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.product__button:focus {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 24px;

  clip: auto;
}

.product__button:focus ~ .product__image {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;

  clip: rect(0 0 0 0);
}

.product__button--buy {
  margin-bottom: 7px;

  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 #367315;
          box-shadow: 0 3px 0 #367315;

  -webkit-transition: background-color 0.2s,
  -webkit-box-shadow 0.2s;
       -o-transition: background-color 0.2s,
  box-shadow 0.2s;
          transition: background-color 0.2s,
  -webkit-box-shadow 0.2s;
          transition: background-color 0.2s,
  box-shadow 0.2s;
          transition: background-color 0.2s,
  box-shadow 0.2s,
  -webkit-box-shadow 0.2s;
}

.product__button--buy:hover,
.product__button--buy:focus {
  background-color: #5fbb2d;
}

.product__button--buy:hover .product__svg,
.product__button--buy:focus .product__svg {
  fill: #ffffff;
}

.product__button--buy:active {
  background-color: #518534;
  -webkit-box-shadow: 0 3px 0 #518534;
          box-shadow: 0 3px 0 #518534;
}

.product__button--buy:active .product__svg {
  fill: #ffffff;
}

.product__button--bookmarks {
  color: #32425c;

  background-color: inherit;
  border: 3px solid #63a63e;

  -webkit-transition: border-color 0.2s,
  color 0.2s;
       -o-transition: border-color 0.2s,
  color 0.2s;
          transition: border-color 0.2s,
  color 0.2s;
}

.product__button--bookmarks:hover,
.product__button--bookmarks:focus {
  background-color: inherit;
  border-color: #32425c;
}

.product__button--bookmarks:active {
  color: #c1c6ce;

  background-color: inherit;
  border-color: #c1c6ce;
}

.product__svg {
  position: absolute;
  top: 11px;
  left: 12px;

  -webkit-transition: fill 0.2s;
       -o-transition: fill 0.2s;
          transition: fill 0.2s;

  fill: rgba(255, 255, 255, 0.3);
}

.product__image--9000 {
  margin-top: 4px;
  margin-left: -1px;
}

.product__image--6000 {
  margin-top: -1px;
  margin-left: -22px;
}

.product__image--3000 {
  margin-top: -2px;
  margin-left: -12px;
}

.product__image--2000 {
  margin-top: -2px;
  margin-left: -28px;
}

.product__header {
  margin: 0;
  margin-top: 9px;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.product__discount {
  margin-top: 12px;

  font-size: 17px;
  line-height: 1em;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product__link {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 120px;
  margin-top: auto;
  margin-right: 13px;
  margin-bottom: 20px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 1em;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
  outline: inherit;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.product__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5px;
  height: 100%;

  background-color: #ee3643;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.product__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 101%;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  border-top: 19px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 19px solid #ee3643;

  -webkit-transition: border 0.2s;
       -o-transition: border 0.2s;
          transition: border 0.2s;
}

.product__link:hover,
.product__link:focus,
.product__link:hover::before,
.product__link:focus::before {
  background-color: #ca2c37;
}

.product__link:hover::after,
.product__link:focus::after {
  border-left: 19px solid #ca2c37;
}

.product__link:active,
.product__link:active::before {
  background-color: #ba2732;
}

.product__link:active::after {
  border-left: 19px solid #ba2732;
}

.popular-companies {
  padding-top: 21px;
}

.popular-companies__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;

  background-color: #f9f5f0;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.popular-companies__header {
  margin-left: 24px;

  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
}

.popular-companies__link {
  display: inline-block;
  width: 253px;
  margin-right: 24px;
  margin-bottom: 1px;
}

.popular-companies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.popular-companies__item {
  margin-right: 10px;
  margin-bottom: 20px;
}

.popular-companies__item:nth-child(4n) {
  margin-right: 0;
}

.popular-companies__img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 145px;

  border: 1px solid #eaeaea;
  outline: inherit;

  -webkit-transition: opacity 0.2s,
  -webkit-box-shadow 0.2s;
       -o-transition: box-shadow 0.2s,
  opacity 0.2s;
          transition: opacity 0.2s,
  -webkit-box-shadow 0.2s;
          transition: box-shadow 0.2s,
  opacity 0.2s;
          transition: box-shadow 0.2s,
  opacity 0.2s,
  -webkit-box-shadow 0.2s;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.popular-companies__img-link:hover,
.popular-companies__img-link:focus {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.popular-companies__img-link:active {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.popular-companies__image {
  margin-top: -2px;
}

.popular-companies__item:nth-child(2) .popular-companies__image {
  margin-top: -5px;
}

.popular-companies__item:nth-child(3) .popular-companies__image {
  margin-top: -5px;
}

.popular-companies__item:nth-child(5) .popular-companies__image {
  margin-top: 1px;
  margin-left: 5px;
}

.popular-companies__item:last-child .popular-companies__image {
  margin-top: -8px;
  margin-left: 4px;
}

.services {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 65px;
  padding-top: 65px;
  padding-bottom: 102px;

  background-color: #f2f6f8;
}

.services__wrapper {
  width: 940px;
  margin: 0 auto;
}

.services__header {
  font-size: 30px;
  line-height: 1em;
  text-transform: uppercase;
}

.services__text {
  width: 400px;
  margin-top: 25px;
}

.services__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.services__container {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.services__container::after {
  content: "";
  position: absolute;
  top: -45px;
  left: 230px;

  width: 10px;
  height: 272px;

  background-image: url("../img/list-side-shadow.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.services__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 22px;

  font-weight: bold;
  font-size: 21px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: #ffffff;
  font-style: normal;

  background-color: #32425c;
  border-width: 0;
  border-top: 1px solid #4d637b;
  border-bottom: 1px solid #293449;
  outline: inherit;
  cursor: pointer;

  -webkit-transition: background-color 0.2s,
  color 0.2s;
       -o-transition: background-color 0.2s,
  color 0.2s;
          transition: background-color 0.2s,
  color 0.2s;
}

.services__button:first-child {
  border-top: none;
}

.services__button:nth-child(2) {
  padding-top: 15px;

  border-top: none;
}

.services__button:last-child {
  padding-top: 15px;
  padding-bottom: 19px;
}

.services__button--active,
.services__button:focus {
  color: #32425c;

  background-color: #ffffff;
}

.services__button:hover {
  color: #ffffff;

  background-color: #293449;
}

.services__list {
  position: relative;

  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-left: 81px;

  list-style: none;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.services__item {
  position: absolute;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services__item::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
}

.services__item:first-child::after {
  top: 23px;
  left: 150px;

  width: 468px;
  height: 261px;

  background-image: url("../img/truck.png");
  ;
}

.services__item:nth-child(2)::after {
  top: 1px;
  left: 238px;

  width: 389px;
  height: 283px;

  background-image: url("../img/warranty-service.png");
  ;
}

.services__item:last-child::after {
  top: -1px;
  left: 164px;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit-service.png");
  ;
}

.services__list-header {
  margin-top: -1px;

  font-size: 36px;
  line-height: 1em;
  text-transform: uppercase;
}

.services__list-text {
  width: 275px;
  margin-top: 24px;
}

.services__item:nth-child(2) .services__list-text,
.services__item:nth-child(3) .services__list-text {
  width: 400px;
}

.services__link {
  display: inline-block;
  width: 195px;
  margin-top: 13px;
  margin-left: -1px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 82px;
  padding-bottom: 86px;
}

.description {
  flex-basis: 640px;

  -ms-flex-preferred-size: 640px;
}

.description__header {
  font-size: 30px;
  text-transform: uppercase;
}

.description__text:nth-child(2) {
  width: 520px;
  margin-top: 29px;
}

.description__text:nth-child(3) {
  width: 400px;
  margin-top: 24px;
  margin-bottom: 0;
}

.description__list {
  margin: 0;
  margin-top: 22px;
  padding: 0;

  list-style: none;
}

.description__item {
  position: relative;

  margin-bottom: 22px;
  padding-left: 36px;

  font-size: 18px;
  line-height: 1em;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
}

.description__item:last-child {
  margin-bottom: 0;
}

.description__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;
  margin-top: -1px;

  background-color: #ee3643;
}

.description__link {
  display: inline-block;
  width: 220px;
  margin-top: 37px;
}

.contacts {
  flex-basis: 300px;

  -ms-flex-preferred-size: 300px;
}

.contacts__header {
  font-size: 30px;
  text-transform: uppercase;
}

.contacts__text {
  width: 200px;
  margin-top: 30px;
}

.contacts__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: inherit;
  border-width: 0;
  outline: inherit;
  cursor: pointer;
}

.contacts__button:hover,
.contacts__button:focus {
  opacity: 0.7;
}

.contacts__button:active {
  opacity: 0.3;
}

.contacts__img {
  margin-top: 17px;
}

.contacts__link {
  width: 100%;
  margin-top: 32px;
  padding-left: 10px;
}

.footer {
  background-color: #32425c;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer__logo {
  position: relative;

  display: inline-block;
  width: 220px;
  padding-top: 20px;
  padding-bottom: 18px;

  font-size: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.footer__logo::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 5px;

  background-color: #b52933;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.footer__logo:hover,
.footer__logo:focus {
  background-color: #ca2c37;
}

.footer__logo:hover::before,
.footer__logo:focus::before {
  background-color: #9a212a;
}

.footer__logo:active {
  background-color: #ba2732;
}

.footer__logo:active::before {
  background-color: #b52933;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer__item {
  margin-left: 59px;
}

.footer__link {
  font-size: 18px;
  line-height: 1em;
  color: #ffffff;

  outline: inherit;

  -webkit-transition: opacity 0.2s,
  -webkit-text-decoration 0.2s;
       -o-transition: text-decoration 0.2s,
  opacity 0.2s;
          transition: opacity 0.2s,
  -webkit-text-decoration 0.2s;
          transition: text-decoration 0.2s,
  opacity 0.2s;
          transition: text-decoration 0.2s,
  opacity 0.2s,
  -webkit-text-decoration 0.2s;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration: underline;
}

.footer__link:active {
  opacity: 0.5;
}

.footer__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-style: normal;
}

.footer__text--address {
  width: 330px;
  margin-top: 32px;
  margin-left: 4px;

  font-size: 18px;
  line-height: 24px;
}

.footer__text--rights {
  width: 250px;
  margin-top: 37px;
}

.footer__list--second {
  margin-top: 33px;
}

.footer__list--second .footer__link {
  color: #ffd180;
}

.footer__add-background {
  margin-top: 31px;
  padding-bottom: 18px;

  background-color: #293449;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-top: 36px;
  margin-right: 119px;
  margin-left: auto;
  padding: 0;

  list-style: none;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: #212a3a;
  border-radius: 50%;
  outline: inherit;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #ee3643;
}

.footer__social-link:active {
  background-color: #b52933;
}

.footer__svg {
  fill: #ffffff;
}

.footer__text--email {
  width: 140px;
  margin-top: 37px;
  margin-right: 48px;
}

.footer__link--email {
  font-size: 1em;
  color: #ffd180;
}

.footer__text--url {
  width: 105px;
  margin-top: 37px;
  margin-right: 6px;
}

.footer__link--url {
  font-size: 1em;
  color: #ffd180;
}

.breadcrumbs {
  padding-top: 19px;
  padding-bottom: 17px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;

  padding-right: 41px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;

  width: 8px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__item:first-child::after {
  right: 19px;
}

.breadcrumbs__link {
  line-height: 1em;
  color: #000000;
  text-transform: uppercase;

  outline: inherit;

  -webkit-transition: color 0.2s,
  -webkit-text-decoration 0.2s;
       -o-transition: color 0.2s,
  text-decoration 0.2s;
          transition: color 0.2s,
  -webkit-text-decoration 0.2s;
          transition: color 0.2s,
  text-decoration 0.2s;
          transition: color 0.2s,
  text-decoration 0.2s,
  -webkit-text-decoration 0.2s;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: #ee3643;
  text-decoration: underline;
}

.breadcrumbs__link:active {
  color: #cacaca;
}

.breadcrumbs__link--home {
  font-size: 0;
}

.breadcrumbs__svg {
  margin-top: 3px;
  margin-left: -2px;

  -webkit-transition: fill 0.2s;
       -o-transition: fill 0.2s;
          transition: fill 0.2s;

  fill: #c1c6ce;
}

.breadcrumbs__link--home:hover .breadcrumbs__svg,
.breadcrumbs__link--home:focus .breadcrumbs__svg {
  fill: #ee3643;
}

.breadcrumbs__link--home:active .breadcrumbs__svg {
  fill: #cacaca;
}

.main__header-block {
  background-color: #f2f6f8;
}

.main__header {
  padding-left: 28px;

  font-size: 30px;
  line-height: 2.97em;
  text-transform: uppercase;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.filters {
  flex-basis: 220px;
  margin-right: 20px;

  -ms-flex-preferred-size: 220px;
}

.filters__header-block {
  background-color: #f7f3ec;
  border-radius: 3px;
}

.filters__header {
  margin: 0;
  margin-left: 20px;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 2.97em;
  text-transform: uppercase;
}

.form__range-block {
  padding-bottom: 25px;

  border-bottom: 1px solid #e5e5e5;
}

.form__header {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 3.25em;
  text-transform: uppercase;
}

.form__range-indicators {
  position: relative;

  width: 100%;
  height: 80px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.form__range-line {
  position: absolute;
  top: 50%;
  left: 29px;

  width: 170px;
  height: 2px;
  margin-top: -1px;
}

.form__range-line--back {
  background-color: #d7dcde;
}

.form__range-line--front {
  width: 142px;

  background-color: #00ca74;
}

.form__range-indicator {
  position: absolute;
  top: 30px;

  width: 20px;
  height: 20px;
  padding: 0;

  font-size: 0;
  line-height: 1em;

  background-color: #ffffff;
  border-width: 0;
  border-radius: 50%;
  outline: inherit;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  -webkit-transition: background-color 0.2s;
       -o-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.form__range-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;

  background-color: #ababab;
  border-radius: 50%;
}


.form__range-indicator--min {
  left: 20px;
}

.form__range-indicator--max {
  right: 40px;
}

.form__range-indicator:hover,
.form__range-indicator:focus {
  background-color: #b5b5b5;
}

.form__range-indicator:active {
  background-color: #e9e9e9;
}

.form__ranges {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 9px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.form__ranges::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 1px;
  margin-left: -5px;

  background-color: #000000;
}

.form__range {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95px;
  padding-top: 7px;
  padding-bottom: 9px;

  font-weight: normal;
  font-size: 17px;
  line-height: 1em;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  font-style: normal;

  background-color: #f7f3ec;
  border-width: 0;
  outline: inherit;
  cursor: pointer;

  -webkit-transition: color 0.2s,
  background-color 0.2s;
       -o-transition: color 0.2s,
  background-color 0.2s;
          transition: color 0.2s,
  background-color 0.2s;
}

.form__range--min {
  padding-left: 5px;
}

.form__range:hover {
  color: #ee3643;
}

.form__range:focus {
  padding-top: 6px;
  padding-bottom: 8px;

  color: #000000;

  background-color: #ffffff;
  border: 1px solid #ee3643;
}

.form__checkbox-block {
  padding-top: 4px;
  padding-bottom: 3px;

  border-bottom: 1px solid #e5e5e5;
}

.form__label {
  display: block;
  margin-bottom: 19px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 1em;
  text-transform: uppercase;

  cursor: pointer;

  -webkit-transition: color 0.2s;
       -o-transition: color 0.2s;
          transition: color 0.2s;
}

.form__label--checkbox {
  position: relative;
}

.form__label--checkbox:hover .form__checkbox-indicator {
  border-color: #b5b5b5;
}

.form__label--checkbox:hover .form__checkbox-indicator::after,
.form__label--checkbox:hover .form__checkbox-indicator::before {
  background-color: #b5b5b5;
}

.form__label--checkbox:active .form__checkbox-indicator {
  border-color: #e9e9e9;
}

.form__label--checkbox:active {
  color: #e9e9e9;
}

.form__label--checkbox:active .form__checkbox-indicator::after,
.form__label--checkbox:active .form__checkbox-indicator::before {
  background-color: #e9e9e9;
}

.form__checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid #c5c5c5;
  border-radius: 3px;

  -webkit-transition: border-color 0.2s;
       -o-transition: border-color 0.2s;
          transition: border-color 0.2s;
}

.form__checkbox-indicator::after,
.form__checkbox-indicator::before {
  content: "";
  position: absolute;

  height: 4px;

  background-color: #c5c5c5;
  opacity: 0;

  -webkit-transition: background-color 0.2s,
  opacity 0.2s;
       -o-transition: background-color 0.2s,
  opacity 0.2s;
          transition: background-color 0.2s,
  opacity 0.2s;
}

.form__checkbox-indicator::after {
  top: 4px;
  right: -6px;

  width: 16px;

  -webkit-box-shadow: 2px 0 0 2px #ffffff;
          box-shadow: 2px 0 0 2px #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form__checkbox-indicator::before {
  top: 8px;
  left: 1px;
  z-index: 1;

  width: 12px;

  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form__checkbox:checked + .form__checkbox-indicator::after,
.form__checkbox:checked + .form__checkbox-indicator::before {
  opacity: 1;
}

.form__checkbox:disabled + .form__checkbox-indicator::before,
.form__checkbox:disabled + .form__checkbox-indicator::after {
  background-color: #e9e9e9;
}

.form__checkbox:disabled + .form__checkbox-indicator {
  border-color: #e9e9e9;
}

.form__checkbox:focus + .form__checkbox-indicator::after,
.form__checkbox:focus + .form__checkbox-indicator::before {
  background-color: #8d8d8d;
}

.form__checkbox:focus + .form__checkbox-indicator {
  border-color: #8d8d8d;
}

.form__radio-block {
  padding-top: 5px;
}

.form__label--radio {
  position: relative;
}

.form__label--radio:hover .form__radio-indicator {
  border-color: #b5b5b5;
}

.form__label--radio:hover .form__radio-indicator::after,
.form__label--radio:hover .form__radio-indicator::before {
  background-color: #b5b5b5;
}

.form__label--radio:active .form__radio-indicator {
  border-color: #e9e9e9;
}

.form__label--radio:active {
  color: #e9e9e9;
}

.form__label--radio:active .form__radio-indicator::after,
.form__label--radio:active .form__radio-indicator::before {
  background-color: #e9e9e9;
}

.form__radio-indicator {
  position: absolute;
  top: -1px;
  left: -1px;

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;

  -webkit-transition: border-color 0.2s;
       -o-transition: border-color 0.2s;
          transition: border-color 0.2s;
  ;
}

.form__radio-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 9px;
  height: 9px;
  margin-top: -4.5px;
  margin-left: -4.5px;

  background-color: #c5c5c5;
  border-radius: 50%;
  opacity: 0;

  -webkit-transition: background-color 0.2s,
  opacity 0.2s;
       -o-transition: background-color 0.2s,
  opacity 0.2s;
          transition: background-color 0.2s,
  opacity 0.2s;
}

.form__radio:checked + .form__radio-indicator::before {
  opacity: 1;
}

.form__radio:disabled + .form__radio-indicator::before {
  background-color: #e9e9e9;
}

.form__radio:focus + .form__radio-indicator::before {
  background-color: #8d8d8d;
}

.form__radio:focus + .form__radio-indicator {
  border-color: #8d8d8d;
}

.form__submit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  min-height: 38px;
  margin-top: 59px;

  text-transform: uppercase;

  background-color: inherit;
  border: 1px solid #e5e5e5;
  outline: inherit;
  cursor: pointer;

  -webkit-transition: border-color 0.2s;
       -o-transition: border-color 0.2s;
          transition: border-color 0.2s;
}

.form__submit:hover,
.form__submit:focus {
  border-color: #bdc6ca;
}

.form__submit:active {
  border-color: #ee3744;
}

.catalog {
  flex-basis: 700px;

  -ms-flex-preferred-size: 700px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__list--control {
  padding-top: 7px;
  padding-bottom: 6px;

  background-color: #f7f3ec;
}

.catalog__list--item {
      flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.catalog__list--item .catalog__item {
  margin-bottom: 20px;
}

.catalog__list--control .catalog__item:nth-child(2) {
  margin-left: 138px;
}

.catalog__list--control .catalog__item:nth-child(3) {
  margin-left: 69px;
}

.catalog__list--control .catalog__item:nth-child(4) {
  margin-left: 65px;
}

.catalog__list--control .catalog__item:nth-child(5) {
  margin-left: 47px;
}

.catalog__list--control .catalog__item:last-child {
  margin-left: 21px;
}

.catalog__header {
  margin: 0;
  margin-left: 20px;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
}

.catalog__button-control {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;

  font-size: 12px;
  line-height: 13px;
  color: #c4c1bb;
  text-transform: uppercase;

  background-color: inherit;
  border-width: 0;
  border-bottom: 1px dotted #ee3643;
  outline: inherit;
  cursor: pointer;
}

.catalog__button-control:hover,
.catalog__button-control:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.catalog__button-control:active {
  color: #ee3643;

  border-width: 0;
}

.catalog__button-control--active {
  color: #ee3643;

  border-width: 0;
}

.catalog__svg {
  -webkit-transition: fill 0.2s;
       -o-transition: fill 0.2s;
          transition: fill 0.2s;

  fill: #c4c1bb;
}

.catalog__button-control--active .catalog__svg {
  fill: #ee3643;
}

.catalog__button-control--up,
.catalog__button-control--down {
  padding-top: 7px;

  font-size: 0;

  border-width: 0;
}

.catalog__button-control--up:hover,
.catalog__button-control--up:focus,
.catalog__button-control--down:hover,
.catalog__button-control--down:focus {
  border-width: 0;
}

.catalog__button-control--up:hover .catalog__svg,
.catalog__button-control--up:focus .catalog__svg,
.catalog__button-control--down:hover .catalog__svg,
.catalog__button-control--down:focus .catalog__svg {
  fill: #000000;
}

.catalog__button-control--up:active .catalog__svg,
.catalog__button-control--down:active .catalog__svg {
  fill: #ee3643;
}

.catalog__list--paginator {
  margin-top: 32px;
}

.catalog__list--paginator .catalog__item {
  margin-right: 10px;
}

.catalog__paginator-button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  min-height: 38px;

  background-color: inherit;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  outline: inherit;
  cursor: pointer;

  -webkit-transition: border-color 0.2s,
  background-color 0.2s;
       -o-transition: border-color 0.2s,
  background-color 0.2s;
          transition: border-color 0.2s,
  background-color 0.2s;
}

.catalog__paginator-button:hover,
.catalog__paginator-button:focus {
  color: #000000;

  background-color: #ffffff;
  border-color: #8d8d8d;
}

.catalog__paginator-button:active {
  border-color: #ee3643;
}

.catalog__paginator-button--active {
  color: #ffffff;

  background-color: #ee3643;
}

.catalog__paginator-button--last {
  width: 140px;

  font-size: 12px;
  text-transform: uppercase;
}

.catalog-info {
  margin-top: 60px;
  padding-top: 68px;
  padding-bottom: 67px;

  background-color: #f3f7f9;
}

.catalog-info__wrapper {
  width: 940px;
  margin: 0 auto;
}

.catalog-info__header {
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}

.catalog-info__text {
  margin: 0;
  margin-top: 29px;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}

.overlay--close {
  display: none;
}

.modal {
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 620px;
  margin-left: -310px;

  -webkit-box-shadow: 0 20px 40px 0  rgba(0,0,0,0.75);
          box-shadow: 0 20px 40px 0  rgba(0,0,0,0.75);
}

.modal--close {
  display: none;
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  min-height: 112px;

  background-color: #f1f1f1;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-preferred-size: 100%;
}

.modal__svg {
  fill: #ee3643;
}

.modal__close:hover .modal__svg,
.modal__close:focus .modal__svg {
  fill: #ca2c37;
}

.modal__close:active .modal__svg {
  fill: #ba2732;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 5px;

  font-size: 0;

  background-color: inherit;
  border-width: 0;
  outline: inherit;
  cursor: pointer;
}

.add-in-cart {
  margin-top: -140px;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.add-in-cart__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 163px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.add-in-cart__text {
  margin: 0;
  margin-left: 32px;
  padding: 0;

  font-size: 30px;
  line-height: 1em;
}

.add-in-cart__button {
  width: 220px;
  margin-right: 20px;
}

.add-in-cart__button--continue {
  color: #000000;

  background-color: #ffffff;
}

.add-in-cart__button--continue:hover,
.add-in-cart__button--continue:focus {
  color: #ffffff;
}

.add-in-cart__button--continue:active {
  color: #ffffff;
}

.write-us {
  margin-top: -215px;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.write-us--animation {
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.write-us__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 311px;
  padding-top: 48px;
  padding-right: 80px;
  padding-left: 80px;
}

.write-us__button {
  width: 460px;
}

.write-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.write-us__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.write-us__form-container:first-child {
  flex-basis: 220px;
  margin-right: 20px;

  -ms-flex-preferred-size: 220px;
}

.write-us__form-container:nth-child(2) {
  flex-basis: 220px;

  -ms-flex-preferred-size: 220px;
}

.write-us__form-container:last-child {
  flex-basis: 100%;
  margin-top: 20px;

  -ms-flex-preferred-size: 100%;
}


.write-us__label {
  margin-bottom: 8px;

  font-weight: normal;
  font-size: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
}

.write-us__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 16px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.write-us__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 115px;
  padding-top: 12px;
  padding-left: 16px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.map {
  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.5);
          box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  90% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  90% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
